body{
	width: 980px;
	margin: 0 auto;
	padding: 10px;
}
.content{
	width: 960px;
}
.Block2{
	width: 283px;
	height: 110px;
	background:#777777;
	margin-left: 22px;
}
.header{
	display: flex;
}
.Block3{
	width: 510px;
	height: 110px;
	background:#777777;
	margin-left: 22px;
}
.contact{
	color:#FFFFFF;
	text-align:right;
	margin-right:10px;
}
a{
	color:#FFFFFF;
}
ul {
	list-style-type: none;
}
.line1{
    margin-top: 19px;
}
.leftcol{
    	float: left;
    	display: flex;
    	flex-direction: column;
    	justify-content: space-between;
    	width: 184px;
    	height:773px;
}
.Block4{
	width: 230px;
	height: 335px;
	background:#777777;
	font-size: 14px;
	color:#FFFFFF;
    	font-family: "Arial";
    	font-size: 14px;
    	font-weight: 400;
    	font-style: normal;
    	letter-spacing: normal;
    	line-height: 22px;
    	text-align: left;
    	margin-top: 19px;
    	margin-left: 13px;
}
.Block5{
    	color: #777777;
    	font-family: Arial;
    	font-size: 14px;
    	font-weight: 400;
    	font-style: normal;
    	letter-spacing: normal;
    	line-height: 22px;
    	text-align: left;
    	margin-top: 22px;
    	margin-left: 20px;
    	float: right;
    	width: 666px;
    	height: 210px;
    	background-color: lightgrey;
}
